@font-face {
    font-family: 'Quarion';
    src:
        url('fonts\Quarion-ExtraLight\Quarion-ExtraLight.woff2') format('woff2'),
        url('fonts\Quarion-ExtraLight\Quarion-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src:
        url('../fonts\Roboto\Roboto-Regular.woff') format('woff'),
        url('../fonts\Roboto\Roboto-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
}